# RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rproj.user

# Quarto files
/.quarto/
site_libs

# Directories
/.scratchpad/
data/
myenv/
*_cache
*_files

# Specific files for different operating systems
.DS_Store
Thumbs.db


